# dependencies
node_modules

# build output
dist
dist-ssr

# env files (jangan commit secret!)
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.vercel
